<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyskt.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="User">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="is_valid" property="isValid" />
        <result column="create_time" property="createTime" />
    </resultMap>
	
	<select id="selectUser" resultType="User" parameterType="User">
		select id,user_name,password,create_time,is_valid from user
	</select>
	
	<select id="selectUserById" resultType="User" parameterType="int">
		select id,user_name,password,create_time,is_valid from user where id = #{id};
	</select>
	
	<update id="update" parameterType="User">
		UPDATE 
		 user 
		SET
		  user_name = #{userName},
		  password = #{password}
		WHERE id = #{id} ;
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE 
		FROM
		user 
		WHERE id = #{id} ; 
	</delete>
	
	<insert id="add" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO user (
		  user_name,
		  password,
		  is_valid,
		  create_time
		) 
		VALUES
		  (
		    #{userName},
		    #{password},
		    1,
		    now());
	</insert>
</mapper>
